[user]
	name = Carter Landis
	email = c@carterlandis.com
	signingkey = B7F49BACFC470A0E
[core]
	autocrlf = input
	editor = "vim"
[credential]
	helper = osxkeychain
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[log]
	abbrevCommit = true
[commit]
	gpgsign = true
